@import "../state/justify.scss";

.l-Container {
    @include componentJustify();
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url(../../images/bg-pattern-top.svg);
    background-repeat: no-repeat;
    position: absolute;
    background-position: top -450px left -250px;

    .btn-white {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 10rem;
        width: 30em;
        height: 25em;
        position: absolute;
        z-index: 100;
        // border-radius: 15px 15px 15px 15px;

        .btn-profile {
            width: 100%;
            height: 35%;
            background: url(../../images/bg-pattern-card.svg);
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;

            .profile {
                display: flex;
                flex-direction: column;
                margin-top: 90px;
                margin-bottom: 1rem;

                .profileContent {
                    display: flex;
                    align-items: center;
                    margin: auto;
                }

                .profileAge {
                    font-size: 1.65rem;
                }

                .imageProfile img {
                    height: 100px;
                }
            }

            .profileContentSkills {

                .skillsContent {
                    display: flex;
                    justify-content: center;

                    .skill {
                        display: flex;
                        flex-direction: column;
                        margin: 1rem;
                    }
                }
            }
        }
    }
}

footer {
    position: absolute;
    bottom: 5%;
    width: 100vw;

    .attribution {
        width: 40vw;
        margin: 0 auto;
        text-align: center;

    }
}